 
 body{
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

main{
	margin-top: 50px;
}

/* Title Section Star Wars Characters */

header{
	background-color: #EEB42F;
	height: 95px;
}

.margin0 {
	margin:0;
}


.title{
	margin-top: 10px;
}

/* Main card section */

.card{
	border: 1px solid #EFEFEF;
	margin-bottom: 30px;
}

.name{
	font-weight: bold;
}

.card p{
	margin-left: 20px;
	padding-right:20px;
}
